body {
	background-image: url("../images/regal.png");

}


.header {
	width: 100%;
	height: 68px;
	background-color: #ffffff;
	top: 0;
	border-bottom: 3px solid #cccccc;
	position: relative;
}

.Hmid {
	width: 960px;
	margin-left: auto;
	margin: auto;
	position: relative;
}

#HName {
	display: inline-block;
	background-color: #4aaaa5;
	color: white;
	left: 0px;
	top: 0;
	padding: 20px;
	font-family: 'Georgia', times, Times New Roman, serif;
	position: absolute;
	font-weight: bold;
	font-size: 175%;
}


#Links {
	float: right;
	display: inline-block;
	right: 0;
	height: 100%;
	text-align: center;
	position: relative;
	font-family: Georgia, "Times New Roman", Times, serif;

}

a {
	color: #cccccc;
	text-decoration: none;
}

#L2 {
	margin-top: 15%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.Container {
	width: 960px;
	position: relative;
	margin-left: auto;
	margin-right: auto;

}


.Info {
	display: block;
	background-color: white;
	font-family: Georgia, "Times New Roman", Times, serif;
	position: absolute;
	width: 650px;
	top: 30px;
	left: 0;
	border: 1px solid #dddddd;

}

.Info h2 {
	margin-left: 2.5%;
	margin-top: 10px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
	font-size: 175%;

}

.Info hr {
	width: 95%;
	border-bottom: 2px solid #dddddd;
}

.Connect {
	display: block;
	background-color: white;
	position: absolute;
	right: 0;
	top: 30px;
	width: 270px;
	border: 1px solid #dddddd;
}

.Connect h3 {
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
	font-size: 175%;
}

.Connect hr {
	width: 95%;
	border-bottom: 2px solid #dddddd;
}

#Me {
	float: left;
}

#Github {
	float: left;
	width: 50px;
	height: 50px;
	margin-left: 48px;

}

#Linkedin {
	float: left;
	width: 50px;
	height: 50px;
	margin-left: 10px;

}

#Slack {
	float: left;
	width: 46px;
	height: 46px;
	margin-left: 10px;
	margin-left: 10px;
	margin-top: 2px;

}

.footer {
	background-color: #666666;
	text-align: center;
	position: absolute;
	height: 68px;
	bottom: 0%;
	left: 0%;
	right: 0%;
	border-top: 10px solid #4aaaa5;
}

.footer p {
	position: absolute;
	top: 45%;
	left: 35%;
	right: 35%;
	color: grey;
}